@model Blog.DAL.Models.User


@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show user by ID - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Password</th>
                    <th>Role Id</th>
                    <th>List of Articles</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Model.Id</td>
                        <td>@Model.Email</td>
                        <td>@Model.FirstName</td>
                        <td>@Model.LastName</td>
                        <td>@Model.Password</td>
                        <td>@Model.RoleId</td>
                        <td>
                        <a asp-area="" asp-controller="Article" asp-action="GetArticlesByAuthorId" asp-route-id="@Model.Id">Articles</a>
                        </td>
                        <td>
                            <a asp-area="" asp-controller="User" asp-action="Update" asp-route-id="@Model.Id">Update</a>
                        </td>
                        <td>
                            <form method="post" asp-controller="User" asp-action="Delete">
                                <input type="hidden" name="id" value="@Model.Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
            </tbody>

        </table>
    }
    else
    {
        <p>No user found!</p>
    }
</div>