@model List<Blog.DAL.Models.User>


@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show all users - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Password</th>
                    <th>Role Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Email</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Password</td>
                        <td>@user.RoleId</td>
                        <td>
                            <a asp-area="" asp-controller="User" asp-action="Update" asp-route-id="@user.Id">Update</a>
                        </td>
                        <td>
                            <form method="post" asp-controller="User" asp-action="Delete">
                                <input type="hidden" name="id" value="@user.Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        <p>No users found!</p>
    }
</div>
